# Introducción al Análisis de Datos

<table>
    <tr>
        <td><img width=200 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/800px-IBM_logo.svg.png"></td>
        <td><img width=200 src="https://skillup.online/_next/static/media/Logo.c31d02e9.svg"></td>
    </tr>
<table>

<div style="text-align: right"><a>por </a><a href="https://www.linkedin.com/in/sheriff-data/">Manuel López Sheriff</a></div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Jupyter-notebook" data-toc-modified-id="Jupyter-notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Jupyter notebook</a></span></li><li><span><a href="#Formato-.csv" data-toc-modified-id="Formato-.csv-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Formato .csv</a></span></li><li><span><a href="#Exploración-de-datos" data-toc-modified-id="Exploración-de-datos-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exploración de datos</a></span><ul class="toc-item"><li><span><a href="#Tipos-de-variable" data-toc-modified-id="Tipos-de-variable-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Tipos de variable</a></span></li><li><span><a href="#Análisis-preliminar" data-toc-modified-id="Análisis-preliminar-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Análisis preliminar</a></span></li><li><span><a href="#Análisis-univariante" data-toc-modified-id="Análisis-univariante-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Análisis univariante</a></span></li><li><span><a href="#Análisis-bidimensional" data-toc-modified-id="Análisis-bidimensional-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Análisis bidimensional</a></span></li></ul></li></ul></div>

## Jupyter notebook

Esto que ves es un jupyter notebook.
 - Un híbrido entre Power Point y entorno de programación
 - Cuyos archivos tienen extensión `.ipynb`
 - Para verlo, puedes:  
   - descargar Python y jupyter  
   - verlo en [Google Colab](https://colab.research.google.com/?hl=es)  
   - verlo en GitHub si ya vive allí
 - Exportable a `.html` y (algunas veces) a `.pdf`

## Formato .csv

 - **C**omma **S**eparated **V**alues
 - Datos estructurados: **filas y columnas**
 - Formato de texto plano: puede abrirse con un editor de texto
 - Formato universal: podemos cargarlo en Excel, Python, R, PowerBI, Tableau
 - Separator: `,`, `;`...

## Exploración de datos

Contamos con un dataset de los pasajeros del Titanic: `titanic.csv`

<img width=500 src="https://upload.wikimedia.org/wikipedia/commons/3/31/TitanicBeken.jpg">

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./datasets/titanic.csv")

In [3]:
df.head()

,Name,Sex,Age,Pclass,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,"Karaic, Mr. Milan",male,30.0,3,0,0,349246,7.8958,NaN,S,0
1,"Dean, Mrs. Bertram",female,33.0,3,1,2,C.A. 2315,20.5750,NaN,S,1
2,"Rice, Mrs. William",female,39.0,3,0,5,382652,29.1250,NaN,Q,0
3,"Davidson, Mrs. Thornton",female,27.0,1,1,2,F.C. 12750,52.0000,B71,S,1
4,"Ridsdale, Miss. Lucy",female,50.0,2,0,0,W./C. 14258,10.5000,NaN,S,1

### Tipos de variable

 - Numérica: cuantitativa. Referida a una propiedad cuantificable
   - Discreta: sólo toma un número finito de valores distintos (o bien $\infty$ numerable)
   - Continua: puede tomar un número infinito de valores en un intervalo
 - Categórica: cualitativa. Referida a una propiedad no cuantificable
   - Ordinal: existe una relación de orden entre las categorías
   - Nominal: describen nombres, etiquetas, categorías... donde no existe relación de orden natural

**Ejercicio**: identifica una variable de cada tipo en el dataset del titanic

### Análisis preliminar

Cuántas filas hay?

Cuántas columnas hay?

De qué tipo es cada variable (columna)?

Hay valores nulos? Por qué motivo serán nulos?

### Análisis univariante

### Análisis bidimensional